    /* .mask {
        background-color: rgba(0, 0, 0, 0.6)
    }
    
    .text-center {
        margin-top: 220px;
    }
    
    .text-primary {
        color: hsl(210, 100%, 50%);
    }
    
    .btn {
        background-color: hsl(210, 100%, 50%);
    }
     */
    
    .img {
        padding: 40px;
    }